{% extends "base.html" %}
{% load static %}

{% block title %}Excluir Fabricante{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div id="content">
    <div class="container">
        <div class="alert alert-warning">
            <i class="fa fa-exclamation-triangle"></i> Tem certeza que deseja excluir este fabricante?
        </div>
        <form method="POST" action="{% url 'delete_fabricante' fabricante.id %}">
            {% csrf_token %}
            <input type="hidden" value="{{ fabricante.id }}" name="id">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="form-group">
                        <label for="Fabricante">Fabricante</label>
                        <input type="text" value="{{ fabricante.Fabricante }}" name="Fabricante" class="form-control" disabled>
                    </div>
                    
                    <div class="row mt-3">
                        <button type="submit" class="btn btn-danger col-md-4 mr-2">
                            <i class="fa fa-trash"></i> Excluir
                        </button>
                        <a href="{% url 'fabricante' %}" class="btn bg-secondary col-md-4">
                            <i class="fa fa-rotate-left"></i> Retornar
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}