{% extends "base.html" %}
{% load static %}
{% block title %}{% if somente_favoritos %}Meus favoritos{% else %}Início{% endif %}{% endblock %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}
{% block content %}
<div id="content">
    {% if somente_favoritos %}
    <h3>Meus favoritos</h3>
    <a href="{% url 'home' %}" class="btn btn-secondary mb-3">Voltar à loja</a>
    {% else %}
    <form action="{% url 'home' %}" method="get" class="mb-3">
        <h3>Buscar produtos</h3>
        <label for="busca-produto">Nome do produto</label>
        <input id="busca-produto" class="form-control mb-2" name="produto" value="{{ busca }}" placeholder="Nome do produto">
        <button class="btn btn-primary" type="submit">Buscar</button>
    </form>
    {% endif %}
    <div class="alert alert-info">Produtos encontrados [{{ produtos|length }}]</div>
    <div class="row">
        {% for prod in produtos %}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card mb-4">
                {% if prod.image %}<div class="image-circle" style="background-image: url('{{ prod.image.url }}');"></div>{% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ prod.Produto }}</h5>
                    <p>R$ {{ prod.preco|floatformat:2 }}</p>
                    <a href="{% url 'details_produto' prod.id %}" class="btn btn-primary mb-2"><i class="fa fa-search"></i> Ver</a>
                    <form method="post" action="{% url 'create_carrinhoitem' prod.id %}" class="mb-2">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success"><i class="fa fa-shopping-cart"></i> Comprar</button>
                    </form>
                    <form method="post" action="{% url 'favorito' prod.id %}">
                        {% csrf_token %}
                        {% if somente_favoritos %}<input type="hidden" name="origem" value="favoritos">{% endif %}
                        {% if prod.id in favoritos_ids %}
                        <button name="acao" value="remover" type="submit" class="btn btn-outline-warning"><i class="fa fa-heart"></i> Remover favorito</button>
                        {% else %}
                        <button name="acao" value="adicionar" type="submit" class="btn btn-warning"><i class="fa fa-heart-o"></i> Favoritar</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="col-12">{% if somente_favoritos %}Você ainda não possui produtos favoritos.{% else %}Nenhum produto encontrado.{% endif %}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
